* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    outline: none;
    border: none;
    background: transparent;
}

.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}